/* === Colors Palette === */

$primary: #f9faf7
$secondary: #1a73e8
$text: #373737
$button: #0a71e7

/* === Breakpoints === */

$vs: 400px
$xs: 600px
$sm: 960px
$md: 1280px
$lg: 1920px

/* === General selectors ===*/

*
    margin: 0
    padding: 0
    box-sizing: border-box
    // font-family: "Nunito", sans-serif

.page-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: default
    color: black
    background-color: $primary

.full-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: default
    color: white
    background-color: $primary
    height: 100vh
    width: 100vw
