@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap')

/* === Colors Palette === */

$primary: #121212
$backend-primary: #fdfdff
$secondary: #ffa301
$grey: #888888
$text: #f9f6f7

/* === Breakpoints === */

$vs: 400px
$xs: 600px
$sm: 960px
$md: 1280px
$lg: 1920px

/* === General selectors ===*/

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Varela Round", sans-serif

.page-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: default
    color: $text
    background-color: $primary
    padding-bottom: 10px

.full-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: default
    color: black
    background-color: $backend-primary
    height: 100vh
    width: 100vw

/* === Cards === */

.main-card-container
    display: flex
    justify-content: flex-start
    align-items: flex-start
    width: 750px
    height: 210px
    margin: 0 0 20px

    @media screen and ( max-width: $sm )
        flex-direction: column
        width: 100%
        height: fit-content
        margin: 0 0 50px

    &:hover
        .information > .link
            color: $secondary
            transition: 0.5s ease-in

    .image-container
        position: relative
        width: fit-content

        @media screen and ( max-width: $sm )
            width: 100%

        .main-image
            width: 325px
            height: 210px
            object-fit: cover
            object-position: center center

            @media screen and ( max-width: $sm )
                width: 100%

    .information
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding-right: 25px
        color: #767676
        height: 100%

        @media screen and ( max-width: $sm )
            padding: 10px 0

        .link
            text-decoration: none
            color: $text
            font-size: 24px
            transition: 0.5s ease-out

        .category-and-date
            display: flex
            justify-content: flex-start
            align-items: center
            margin: 20px 0

            @media screen and ( max-width: $sm )
                margin: 10px 0

            .category
                display: flex
                justify-content: center
                align-items: center
                width: fit-content
                height: fit-content
                padding: 5px 10px
                margin-left: 15px
                color: $text
                background-color: $secondary
                font-weight: normal
                letter-spacing: 1px
                border-radius: 2px

.last-posts-card-container
    display: flex
    justify-content: flex-start
    align-items: flex-start
    width: 350px
    height: 85px
    margin: 0 0 20px

    &:hover
        .last-posts-card-information > .link
            color: $secondary
            transition: 0.5s ease-in

    .last-posts-card-image-container
        position: relative
        width: fit-content

        .main-image
            width: 85px
            height: 85px
            object-fit: cover
            object-position: center center

    .last-posts-card-information
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding-right: 15px
        color: #767676
        height: 100%

        .link
            text-decoration: none
            color: $text
            font-size: 16px
            line-height: 15px
            transition: 0.5s ease-out

        .date
            font-size: 11px
            font-weight: 600
            margin-top: 10px

.related-posts-card-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    width: 370px
    height: fit-content
    margin: 0 0 20px 20px

    @media screen and ( max-width: $xs )
        margin: 0 0 20px 0

    &:hover
        .related-posts-card-information > .link
            color: $secondary
            transition: 0.5s ease-in

    .related-posts-card-image-container
        position: relative
        width: fit-content
        margin-bottom: 20px

        .main-image
            width: 370px
            height: 170px
            object-fit: cover
            object-position: center center

    .related-posts-card-information
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        color: #767676
        height: 100%

        .link
            text-decoration: none
            color: $text
            font-size: 16px
            line-height: 15px
            transition: 0.5s ease-out

        .category-and-date
            display: flex
            justify-content: flex-start
            align-items: center
            margin: 20px 0

            @media screen and ( max-width: $sm )
                margin: 10px 0

            .category
                display: flex
                justify-content: center
                align-items: center
                width: fit-content
                height: fit-content
                padding: 5px 10px
                margin-left: 15px
                color: $text
                background-color: $secondary
                font-weight: normal
                letter-spacing: 1px
                border-radius: 2px

        .date
            font-size: 11px
            font-weight: 600
            margin-top: 10px

/* === Homepage === */

.homepage-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: default
    color: $text
    background-color: $primary

    .hero-container
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        position: relative
        width: 100%
        height: 800px
        // padding: 0 30px
        margin-bottom: 50px
        background: linear-gradient(to top, #121212, #121212cc, #12121299, #12121299, #12121299), url('../../images/328905.jpg') no-repeat center center
        //background: linear-gradient(180deg, rgba(18,18,18,0.6) 0%, rgba(18,18,18,1) 98%), url('../../images/328911.png') no-repeat center center
        background-repeat: no-repeat
        background-position: 50% 0%
        background-size: cover

        .dummy-navbar
            display: flex
            justify-content: flex-start
            align-items: center
            width: 100%
            height: 45px
            background-color: transparent
            padding: 0 40px
            border-bottom: 1px solid white

            img
                width: 100px

    .ticker
        padding: 0 10px
        margin-bottom: 5px
        text-align: center
        height: 100%

    .content
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        width: 100%
        padding: 0 175px

        @media screen and ( max-width: $lg )
            padding: 0 100px

        @media screen and ( max-width: $md )
            flex-direction: column

        @media screen and ( max-width: $sm )
            padding: 0 25px

        .posts
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start

            .title
                margin-bottom: 15px
                letter-spacing: 1px

        .about
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            padding: 0 10px 10px 10px
            width: 300px
            height: 100%
            // border: 1px solid white

            .about-image
                width: 160px
                height: 160px
                border-radius: 50%
                margin-bottom: 25px
                object-fit: cover
                object-position: center center

            .about-text
                text-align: center
                margin-bottom: 10px

            .top-categories
                display: flex
                flex-direction: column
                justify-content: center
                align-items: flex-start
                width: 100%

                .title
                    margin: 25px 0 15px
                    letter-spacing: 1px

                .category
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 100%
                    margin-bottom: 15px

                    &:hover
                        p
                            color: $secondary

                    p
                        transition: color 0.5s ease-in-out

/* === Post === */

.post-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    cursor: default
    padding: 40px 150px
    color: $text
    background-color: $primary

    @media screen and ( max-width: 1470px )
        padding: 40px 100px

    @media screen and ( max-width: 1350px )
        padding: 40px 50px

    @media screen and ( max-width: $sm )
        padding: 20px 20px

    .title-container
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        width: 100%

        .title-wrapper
            width: 90%

            @media screen and ( max-width: $md )
                width: 100%

        .category-and-date
            display: flex
            justify-content: flex-start
            align-items: center
            margin: 20px 0

            .category
                display: flex
                justify-content: center
                align-items: center
                width: fit-content
                height: fit-content
                padding: 5px 10px
                margin-left: 15px
                color: $text
                background-color: $secondary
                font-weight: normal
                letter-spacing: 1px
                border-radius: 2px

    .wrapper
        display: flex
        justify-content: flex-start
        align-items: flex-start
        margin-top: 20px

        @media screen and ( max-width: $md )
            flex-direction: column

        .post
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start

            .image-container
                position: relative
                width: fit-content
                height: 450px

                .main-image
                    width: 775px
                    height: 450px
                    object-fit: cover
                    object-position: center center

                    @media screen and ( max-width: $sm )
                        width: 100%

                .credit
                    position: absolute
                    bottom: 0
                    left: 0
                    padding: 7px 15px
                    text-align: center
                    background-color: rgba(black, 0.4)

            .share-buttons
                display: flex
                flex-wrap: wrap
                justify-content: flex-start
                align-items: center
                margin: 15px 0
                padding: 10px 0
                width: 100%

                .share
                    position: relative
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 85px
                    height: 40px
                    color: $grey
                    border: 1px solid $grey
                    border-radius: 2px
                    margin-left: 20px
                    padding: 0 8px

                    @media screen and ( max-width: $sm )
                        margin: 5px 0 5px 25px //top right bottom left

                    &::before, &::after
                        right: 100%
                        top: 50%
                        border: solid transparent
                        content: " "
                        height: 0
                        width: 0
                        position: absolute
                        pointer-events: none

                    &::after
                        border-color: rgba(136, 183, 213, 0)
                        border-right-color: $primary
                        border-width: 10px
                        margin-top: -10px

                    &::before
                        border-color: rgba(194, 225, 245, 0)
                        border-right-color: $grey
                        border-width: 12px
                        margin-top: -12px

                .button
                    display: flex
                    width: 140px
                    height: 40px
                    margin-left: 10px
                    border: 1px solid rgba($secondary, 0.8)
                    border-radius: 2px
                    transition: border 0.5s ease-in-out

                    @media screen and ( max-width: $sm )
                        margin: 5px 0 5px 20px //top right bottom left

                    &:hover
                        border: 1px solid $secondary

                        .logo-container
                            background-color: $secondary
                            transition: all 0.5s ease-in

                    .logo-container
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 40px
                        height: 100%
                        transition: all 0.5s ease-out
                        background-color: rgba($secondary, 0.8)

                        .logo
                            font-size: 20px
                            color: $primary

                    .caption
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 100%

            .text-container
                width: 90%

                @media screen and ( max-width: $sm )
                    width: 100%

            .about
                display: flex
                flex-direction: row
                justify-content: flex-start
                align-items: center
                width: 100%
                height: 100%
                margin: 25px 0
                padding: 10px 0
                // border: 1px solid white

                .image-container
                    display: flex
                    justify-content: center
                    align-items: center
                    width: fit-content
                    height: fit-content
                    margin-left: 20px

                    @media screen and ( max-width: $xs )
                        display: none

                    img
                        width: 120px
                        height: 120px
                        border-radius: 50%
                        object-fit: cover
                        object-position: center center

                .about-container
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: flex-start
                    height: 100%
                    // width: 50%
                    // background-color: rgba(lightblue, 0.2)

                    .social-media
                        display: flex
                        justify-content: flex-start
                        align-items: center

                        .icon
                            font-size: 20px
                            margin-left: 15px
                            transition: color 0.5s ease-in-out

                            &:hover
                                color: $secondary

        .recent-posts
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start

/* === Dashboard === */

.dashboard-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    height: 100vh
    overflow-y: auto
    cursor: default
    padding: 20px
    color: $text
    background-color: $backend-primary

    .table-container
        width: 100%
        height: 100%
        padding: 25px 0

/* === Dashboard navbar === */

.dasboard-navbar
    background: #222222
    box-shadow: 0 2px 3px rgba(15, 15, 15, 0.25)
    height: 45px
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.2rem
    position: sticky
    top: 0
    z-index: 20
    margin-top: -45px

    .dashboard-navbar-container
        z-index: 1
        width: 100%
        max-width: 1300px
        display: flex
        justify-content: space-between
        height: 35px

        .links-container
            display: flex
            flex-direction: row
            justify-content: center
            align-content: center

        .space
            width: 20px

        .links
            color: white
            text-decoration: none
            justify-self: flex-start
            cursor: pointer
            text-decoration: none
            font-size: 2rem
            display: flex
            align-items: center

        .text
            font-size: 18px
            margin: 0 5px 0
            transform: translateY(6%)

/* === Editor === */

.editor-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    height: 100vh
    overflow-y: auto
    cursor: default
    padding: 20px
    color: $text
    background-color: $backend-primary

    h2
        margin-bottom: 15px
        color: black

    .image-uploader
        display: flex
        justify-content: center
        align-items: center
        width: fit-content

        @media screen and ( max-width: 635px )
            flex-direction: column

    .text-editor
        width: 100%
        height: fit-content
        color: black
        cursor: text
        margin: 20px 0

        .ck-editor__editable
            min-height: 500px

    fieldset
        width: 230px
        border: 1px solid black
        border-radius: 10px
        margin-bottom: 40px

    legend
        font-size: 25px
        font-weight: bold
        margin-right: 25px
        padding: 5px

    .checkBox
        font-family: "Varela Round", sans-serif

    .helper
        padding-bottom: 10px
        text-align: right
        margin-right: 29px

    .buttons
        display: flex

        .button
            color: white
            background-color: $secondary
            margin-left: 15px
            border-radius: 10px
